---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import InitialSection from "../components/InitialSection.astro";
import FirstSection from "../components/FirstSection.astro";
---

<Layout title="Your Insta Pro">
  <main>
    <InitialSection />
    <FirstSection />
  </main>
</Layout>
