---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";
import ContentCreation from "../components/ContentCreation.astro";
import CreationSection from "../components/CreationSection.astro";
import ToSeeWork from "../components/ToSeeWork.astro";
import Contact from "../components/Contact.astro";
import Mailing from "../components/Mailing.astro";
---

<Layout title="Your Insta Pro">
  <main>
    <HomeSection />
    <ContentCreation />
    <CreationSection />
    <ToSeeWork />
    <Contact />
    <Mailing />
  </main>
</Layout>

<script>
  import { animate, scroll } from "motion";
  const selectors = ["section > div", "section > img", "section > div > img"];

  selectors.forEach((selector) => {
    document.querySelectorAll(selector).forEach((item) => {
      scroll(animate(item, { opacity: [0, 1, 1, 0] }), {
        target: item,
        offset: ["start end", "end", "start", "end start"],
      });
    });
  });
</script>
