---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import InitialSection from "../components/InitialSection.astro";
import FirstSection from "../components/FirstSection.astro";
import SecondSection from "../components/SecondSection.astro";
import ToSeeWork from "../components/ToSeeWork.astro";
---

<Layout title="Your Insta Pro">
  <main>
    <InitialSection />
    <FirstSection />
    <SecondSection />
    <ToSeeWork />
  </main>
</Layout>
