---
import Layout from "../layouts/Layout.astro";
import InitialSection from "../components/InitialSection.astro";
import FirstSection from "../components/FirstSection.astro";
import SecondSection from "../components/SecondSection.astro";
import ToSeeWork from "../components/ToSeeWork.astro";
import FirstContactSection from "../components/FirstContactSection.astro";
import SecondContactSection from "../components/SecondContactSection.astro";
---

<Layout title="Your Insta Pro">
  <main>
    <!-- <InitialSection />
    <FirstSection />
    <SecondSection />
    <ToSeeWork />
    <FirstContactSection />
    <SecondContactSection /> -->
  </main>
</Layout>
