---
import roundedImage from "../assets/images/first-rounded-image.png";
---

<section
  class="min-h-[70vh] h-full bg-[#E8E8E8] flex justify-between items-center px-8 relative pt-36 pb-32 lg:px-36 lg:pt-0 lg:pb-36"
>
  <img
    class="absolute w-56 left-20 z-10 -top-10 lg:left-64 lg:-top-24"
    src={roundedImage.src}
    alt="Woman seeing instagram"
  />
  <div></div>
  <div class="flex flex-col justify-center mt-20">
    <p
      class="text-[#1D1D1D] mt-4 text-balance font-bold max-w-[700px] text-2xl lg:text-[55px]"
    >
      Our content creation and marketing services are designed to help you stand
      out in the crowded <span class="text-[#BA891F]">digital landscape.</span>
    </p>
  </div>
</section>
