---
import { Icon } from "astro-icon/components";
import bgImage from "../assets/images/contact-image.png";
---

<section
  class="min-h-[80vh] h-full w-full bg-no-repeat bg-cover bg-center relative z-10 bg-black bg-opacity-50 px-36 flex justify-between"
  style={{ backgroundImage: `url(${bgImage.src})` }}
>
  <div class="self-start max-w-[515px] w-full relative mt-24">
    <h4 class="font-bold text-[55px] leading-normal">Contact</h4>
    <p class="font-light text-[37px] leading-tight max-w-[590px]">
      Contact us today to learn more about how we can help you succeed on
      Instagram
    </p>
    <div class="flex gap-4 items-center mt-8">
      <div
        class="bg-[radial-gradient(50%_50%_at_50%_50%,_#FEF3A4_0%,_#BA891F_100%)] w-[73px] h-[73px] flex justify-center items-center rounded-full"
      >
        <Icon
          name="fa-solid:mobile-alt"
          class="text-[rgba(34,_34,_34,_1)] text-4xl"
        />
      </div>
      <p class="text-[rgba(34,_34,_34,_1)] font-bold text-2xl">305-497-2324</p>
    </div>
  </div>
</section>
