---
import { Icon } from "astro-icon/components";
import logo from "../assets/images/your-insta-pro-logo.png";
---

<header class="flex items-center justify-between px-6 py-2 md:px-10 lg:px-24">
  <a href="/">
    <img
      class="max-w-[5rem] md:max-w-[8rem]"
      src={logo.src}
      alt="Your Insta Pro"
    />
  </a>
  <Icon name="fa-solid:bars" class="text-2xl text-[rgba(34,_34,_34,_1)]" />

  <!-- <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav> -->
</header>
