---
import { Icon } from "astro-icon/components";
import bgImage from "../assets/images/your-insta-pro-main-image.webp";
import markSvg from "../assets/images/mark.svg";
---

<section
  id="home"
  class="min-h-[calc(100vh-70px)] h-full w-full bg-no-repeat bg-cover bg-[center_left_-4rem] relative z-10 bg-black bg-opacity-50 px-6 flex flex-col justify-between md:bg-[center_left_-10rem] md:px-10 lg:min-h-[calc(100vh-100px)] lg:px-24 lg:bg-center"
  style={{ backgroundImage: `url(${bgImage.src})` }}
>
  <div
    class="self-center max-w-[17.50rem] w-full relative mt-24 md:max-w-[22rem] md:mt-28 md:self-start lg:max-w-[23rem] lg:mt-14"
  >
    <img src={markSvg.src} alt="SVG" class="absolute opacity-0" />
    <div class="px-4 mb-3 leading-tight md:px-6 md:mt-4 lg:px-8 lg:mb-6">
      <p class="font-extrabold text-5xl text-[#222222] md:text-6xl lg:text-6xl">
        Your
      </p>
      <p class="font-extrabold text-5xl text-[#222222] md:text-6xl lg:text-6xl">
        Instagram
      </p>
      <p class="font-extrabold text-5xl text-[#222222] lg:text-6xl">Pro.</p>
    </div>
    <span
      class="text-[#BA891F] font-bold absolute text-xl z-10 -bottom-9 left-4 bg-transparent md:text-2xl md:-bottom-10 md:left-7 lg:text-[26px] lg:-bottom-8 lg:left-6"
      >Instagram Marketing</span
    >
  </div>

  <div
    id="homeText"
    class="flex items-center self-center mb-24 gap-4 md:self-start lg:self-end lg:mb-10"
  >
    <Icon
      name="fa6-solid:arrow-down"
      color="#BA891F"
      class="animate-bounce text-3xl md:text-4xl"
    />
    <div>
      <p class="text-lg font-bold text-[#222] md:text-xl lg:text-xl">
        Are you looking to boost your
      </p>
      <p class="text-lg font-bold text-[#222] md:text-xl lg:text-xl">
        brand's presence on Instagram?
      </p>
    </div>
  </div>
</section>

<script>
  import { animate, timeline, stagger } from "motion";

  window.addEventListener("DOMContentLoaded", () => {
    timeline([
      [
        "#home > div > img",
        {
          opacity: [0, 1],
          // translate: [20, 0],
        },
      ],
      [
        "#home > div > div > p",
        {
          opacity: [0, 1],
          translate: [20, 0],
        },
        {
          delay: stagger(0.2),
        },
      ],
      [
        "#home > div > span",
        {
          opacity: [0, 1],
          translate: [20, 0],
        },
      ],
      [
        "#home > #homeText",
        {
          opacity: [0, 1],
        },
      ],
    ]);
  });
</script>
