---
import { Icon } from "astro-icon/components";
import bgImage from "../assets/images/contact-image-with-bg.png";
---

<section
  class="min-h-[calc(100vh-116px)] h-full w-full bg-no-repeat bg-cover bg-center relative z-10 bg-black bg-opacity-50 px-8 flex justify-center md:px-10 lg:px-36"
  style={{ backgroundImage: `url(${bgImage.src})` }}
>
  <div
    class="self-start flex flex-col items-center gap-6 min-h-[20rem] w-full mt-24 bg-black/70 p-6 backdrop-blur-sm md:min-h-[24rem] md:max-w-[26rem] md:p-10 lg:max-w-[742px] lg:min-h-[742px] lg:gap-12 lg:p-12"
  >
    <div
      class="bg-[radial-gradient(50%_50%_at_50%_50%,_#FEF3A4_0%,_#BA891F_100%)] w-12 h-12 flex justify-center items-center rounded-full mt-6 md:w-14 md:h-14 lg:mt-12 lg:w-[109px] lg:h-[109px]"
    >
      <Icon
        name="fa-solid:envelope"
        class="text-[rgba(34,_34,_34,_1)] text-xl md:text-2xl lg:text-6xl"
      />
    </div>
    <p
      class="text-[rgba(232,_232,_232,_1)] font-light text-center md:text-xl lg:text-[40px] lg:leading-[45px]"
    >
      For inquiries or to set up a free phone consultation to find the best
      package for you, email us at
    </p>
    <p
      class="text-[rgba(232,_232,_232,_1)] leading-normal font-bold lg:text-3xl"
    >
      yourinstagrampro@outlook.com
    </p>
  </div>
</section>
