---
import { Icon } from "astro-icon/components";
import roundedImage from "../assets/images/second-rounded-image.png";
import pictureGallery from "../assets/images/ig-gallery.png";
---

<section
  class="min-h-[100vh] h-full bg-[#222222] flex flex-col justify-center gap-10 px-8 relative lg:px-36 lg:gap-20"
>
  <div class="flex flex-col justify-between lg:flex-row">
    <div class="flex flex-col justify-center mt-44 px-4 lg:mt-0 lg:px-0">
      <p
        class="text-[#A7A8A8] mt-4 text-pretty font-bold text-2xl max-w-auto text-right lg:text-[55px] lg:leading-[70px] lg:max-w-[732px]"
      >
        We can create engaging and visually appealing content that will
        captivate <span class="text-[#BA891F]">your audience.</span>
      </p>
    </div>
    <img
      class="-top-12 absolute right-20 w-56 lg:w-full lg:-top-28 lg:right-64"
      src={roundedImage.src}
      alt="Person seeing a picture"
    />
    <div class="hidden lg:block lg:w-[628px] lg:h-[628px]"></div>
  </div>

  <div
    class="flex flex-col justify-evenly items-center gap-4 pb-12 lg:flex-row lg:pb-36"
  >
    <img
      class="max-w-[80vw]"
      src={pictureGallery.src}
      alt="Gallery of profiles"
    />
    <div class="flex flex-col-reverse items-center gap-4">
      <Icon class="text-9xl" name="fa6-brands:instagram" color="#2f2f2f" />
      <p
        class="text-[#A7A8A8] text-2xl text-balance font-bold max-w-[730px] lg:text-[55px]"
      >
        Let us help you elevate your Instagram presence and drive more traffic <span
          class="text-[#BA891F]">to your business.</span
        >
      </p>
    </div>
  </div>
</section>
