---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import roundedImage from "../assets/images/second-rounded-image.png";
import pictureGallery from "../assets/images/ig-gallery.png";
---

<section
  class="min-h-[100vh] h-full bg-[#222222] flex flex-col justify-center gap-20 px-36 relative"
>
  <div class="flex justify-between">
    <div class="flex flex-col justify-center">
      <p
        class="text-[#A7A8A8] mt-4 text-pretty font-bold text-[55px] max-w-[732px] text-right leading-[70px]"
      >
        We can create engaging and visually appealing content that will
        captivate <span class="text-[#BA891F]">your audience.</span>
      </p>
    </div>
    <!-- <Image
      class="-top-28 absolute right-72"
      src={roundedImage}
      alt="Person seeing a picture"
    /> -->
    <img
      class="-top-28 absolute right-64"
      src={roundedImage.src}
      alt="Person seeing a picture"
    />
    <div class="w-[628px] h-[628px]"></div>
  </div>

  <div class="flex justify-evenly items-center pb-36">
    <!-- <Image src={pictureGallery} alt="Gallery of profiles" /> -->
    <img src={pictureGallery.src} alt="Gallery of profiles" />
    <div>
      <Icon name="fa6-brands:instagram" color="#2f2f2f" size={250} />
      <p
        class="text-[#A7A8A8] text-balance font-bold text-[55px] max-w-[730px]"
      >
        Let us help you elevate your Instagram presence and drive more traffic <span
          class="text-[#BA891F]">to your business.</span
        >
      </p>
    </div>
  </div>
</section>
