---
import markSvg from "../assets/images/to-see-work-mark.svg";
---

<section
  class="min-h-[200px] h-full bg-[#E8E8E8] flex items-center justify-center px-8 relative lg:min-h-[435px] lg:px-36"
>
  <div class="max-w-[786px] w-full relative">
    <img src={markSvg.src} alt="Mark SVG" class="absolute" />
    <div class="px-4 leading-tight lg:px-8 lg:mb-6">
      <p class="font-light text-sm text-[#222222] mt-3 lg:text-4xl lg:mt-10">
        Currently managing the Instagram accounts for <span class="font-bold"
          >@mgmedical_</span
        > and
        <span class="font-bold">@karwasserwigs</span>
      </p>
    </div>
    <span
      class="text-[#BA891F] font-bold absolute text-base z-10 -top-4 left-3 bg-transparent lg:text-4xl lg:-top-5 lg:left-10"
      >To see work</span
    >
  </div>
</section>
